/* Universal Styles */

body {
margin: 0;
font-family: Helvetica;
font-size: 22px;
color: seashell;
opacity: 0.9;
background-color: black;
text-align: center;
}

a {
  text-decoration: underline;
  color: seashell;
}

h2, h3, h4 {
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Header */

header {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.logo img {
  height: 50px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

/* Content container */

.content {
  padding-top: 70px;
  width: 1200px;
  margin: auto;
}

/* Hero */

#hero {
  height: 700px;
  background-image: url('img-mission-background.jpg');
}

.mission-image {
  align-items: center;
}

.mission {
  margin: auto;
  background-color: black;
  opacity: .85;
  width: 100%;
}

/* Featured Teas */

.featured {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.tea {
  padding: 5px;
}

.tea span {
  padding: 5px;
}

.tea img {
  height: 200px;
  margin: 10px;
  display: block;
}
