/* Universal */

body {
  font-family: Helvetica;
  font-size: 22px;
  margin: 0;
  text-align: center;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}

a {
  text-decoration: underline;
  color: seashell;
}

h2, h3, h4 {
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Header */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.logo img {
  height: 50px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

/* Main container */

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* Hero */

#mission {
  height: 700px;
  background-image: url('img-mission-background.jpg');
}

.mission-content {
  margin: auto;
  width: 100%;
  background-color: black;
  opacity: .85;
}

/* Featured Teas */

#featured {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 69px;
}

.tea {
  padding: 5px;
}

.tea span {
  padding: 5px;
}

.tea img {
  height: 200px;
  margin: 10px;
  display: block;
}

/* Locations */

#locations {
  height: 500px;
  background-image: url('img-locations-background.jpg');
  padding-top: 70px;
  width: 1200px;
}

#locations .container {
  margin: auto;
}

.location {
  margin: 15px 20px;
  padding: 10px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  justify-content: center;
}

/* Contact */

#contact {
  height: 200px;
}

/* Footer */

footer {
  text-align: left;
  padding-left: 20px;
}
